@charset "utf-8";
*{
    margin:0 auto; padding:0;
}
li{list-style: none}
a{
    display:block;
    text-decoration: none;
    color:inherit;
}
img{display:block; border:0;}
.cf:after{
    content:""; clear:both; display:block;
}

header{
    background:#eee;
}
#head{
    width:1200px;
    background:#fff;
}

.logo{
    width:200px;
    height:45px;
    float:left;
    padding:28px 0 27px 0;
}
.logo img{
    width:100%;
}
nav{
    width:1000px;
    height:100px;
    float:left;
}
.sub{
    display:none;
}
/*
.gnb li:hover .sub{
    display:block;
}
*/
.gnb>li{float:left;}
.gnb a{
    width:150px;
    line-height:40px;
    text-align:center;
    background:#adf;
}
.gnb{
    width:600px;
    position:relative;
    top:30px;
    left:180px;
}
.gnb li:hover>a{
    background:#69f;
}
/*슬라이드*/
#slide{
    width:1200px; overflow:hidden; height:300px;
}
#slide ul{
    animation:slide 9s infinite;
}
@keyframes slide{
    0%{margin-top: 0;}
    33.3%{margin-top: -300px;}
    66.6%{margin-top: -600px;}
    100%{margin-top: -900px;}
}
/* 컨텐트 */
#content{
    width:1200px; height:200px;
}
#content section{
    width:380px; height:180px;
    float:left;
    padding:10px;
}
#content .title{
    line-height:39px;
    border-bottom: 1px #ccc solid;
    text-align:center;
    margin: 0 20px;
}

#content .notice a{
    line-height:28px;
    height:28px;
}
#content .notice span{
    display:block;
    float:left;
}
#content .notice span:nth-child(1){
    width:120px;
}
#content .notice span:nth-child(2){
    width:260px;
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
}
#content .notice a:hover{
    background:#ccc;
    transition:.3s;
}
#content .gallery li{
float:left;
padding:20px 0 20px 20px;
}
#content .gallery a{
    transition:.3s;
}
#content .gallery a:hover{
    opacity:.6;
}
#content section:nth-child(3) a:hover{
    outline: 3px #adf solid;
}
/* footer */

footer{
    background:#eee;
}
#footer{
    width:1200px;
    height:100px;
}
#footer .copyright{
    width:800px;
    height:60px 
    text-align:center;
    float:left;
    font-size:0.8rem;
    line-height:20px;
    padding:20px 0;
}
#footer .copyright a{
    display:inline;
}
#footer .sns{
    width:180px;
    height:60px;
    float:left;
    padding:20px 10px;
}
#footer .sns img{
    width:40px;
}
#footer .sns li{
    float:left;
    padding:10px;
}
#footer .sns a:hover{
    opacity:.6;
}
/* 팝업 */
#popup{
    width:100%;
    height:100vh;
    background:rgba(0,0,0,.6);
    position:fixed;
    top:0;
    left:0;
    display:none;
}
.popup_body{
    width:600px;
    height:500px;
    border: 3px #adf solid;
    border-radius: 10px;
    background:#fff;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%)
}
.popup_body h3{
    font-size:1.2rem;
    line-height:60px;
    text-align:center;
}
.popup_body p{
    padding:10px;
    text-align:left;
}
.popup_body p:nth-child(3){
    font-size:0.9rem;
}
.popup_body .close{
    width:120px;
    line-height:40px;
}

