@charset "utf-8";
*{
    margin:0 auto; padding:0;
}
li{list-style: none}
a{
    display:block;
    text-decoration: none;
    color:inherit;
}
img{display:block; border:0;}
.cf:after{
    content:""; clear:both; display:block;
}

header{
    background:#eee;
}
#head{
    width:1200px;
    background:#fff;
}

.logo{
    width:200px;
    height:45px;
    float:left;
    padding:28px 0 27px 0;
}
.logo img{
    width:100%;
}
nav{
    width:1000px;
    height:100px;
    float:left;
}
.sub{
    display:none;
}
/*
.gnb li:hover .sub{
    display:block;
}
*/
.gnb>li{float:left;}
.gnb a{
    width:150px;
    line-height:40px;
    text-align:center;
    background:#adf;
}
.gnb{
    width:600px;
    position:relative;
    top:30px;
    left:180px;
}
.gnb li:hover>a{
    background:#69f;
}